<mat-toolbar>Registered Employees</mat-toolbar>
<mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>ID&nbsp;&nbsp;</mat-header-cell>
    <mat-cell *matCellDef="let emp">{{emp.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>First Name&nbsp;&nbsp;</mat-header-cell>
    <mat-cell *matCellDef="let emp">{{emp.firstName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name&nbsp;&nbsp;</mat-header-cell>
    <mat-cell *matCellDef="let emp">{{emp.lastName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="salary">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Salary&nbsp;&nbsp;</mat-header-cell>
    <mat-cell *matCellDef="let emp">{{emp.salary}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let emp; columns: displayedColumns"></mat-row>

</mat-table>

<mat-paginator #paginator
[length]="resultsLength"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 20]" class="mat-elevation-z8">
</mat-paginator>